@{
    ViewBag.Title = "权限分组管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MicBeach.Application.Identity.Auth
<environment>
    <link href="~/style/css/table.css" rel="stylesheet" />
    <link href="~/scripts/ztree/skin.css" rel="stylesheet" />
    <link href="~/style/css/jquery.splitter.css" rel="stylesheet" />
</environment>

<div id="page-body">
    <div id="page-body-inner">
        <div class="split-vertical-container" data-position="15%" data-splitlimit="50,50">
            <div class="split-vertical-left">
                <div class="content-panel">
                    <div class="content-panel-head default h-50 bd-lw-0 bd-tw-0 txt-center lh-50">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_addlevelone"><i class="icon-plus"></i> 添加分组</button>
                        <button type="button" class="btn btn-sm btn-danger" id="btn_deleteselect"><i class="icon-trash"></i> 删除选中</button>
                    </div>
                    <div class="content-panel-body">
                        <div class="content-panel-body-inner">
                            <ul id="all_tree" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="split-vertical-right">
                <div class="content-panel hide" id="role_detail">
                    <div class="content-panel-head">
                        <table cellpadding="0" cellspacing="0" class="detail-table">
                            <tr>
                                <td class="detail-td-tit">名称</td>
                                <td class="detail-td-content" id="content-for-Name"></td>
                            </tr>
                            <tr>
                                <td class="detail-td-tit">状态</td>
                                <td class="detail-td-content" id="content-for-Status"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="detail-td-content"><button type="button" class="btn btn-primary" id="btn_edit"><i class="icon-edit"></i> 编辑</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-panel-body">
                        <div class="content-panel-body-inner content-panel">
                            <ul class="nav nav-tabs content-panel-head" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active bd-lw-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">权限数据</a>
                                </li>
                            </ul>
                            <div class="tab-content content-panel-body" id="myTabContent">
                                <div class="tab-pane show active content-panel" id="home" role="tabpanel">
                                    <div class="content-panel-head">
                                        <div class="row pd-10 mg-0">
                                            <div class="lis_search pd-0">
                                                <div class="form-group mg-0">
                                                    <input type="text" class="form-control w-200" id="search_authname" placeholder="权限名称/编码">
                                                    <button type="button" class="btn btn-info" onclick="LoadAuthoritys()"><i class="icon-search"></i>搜索</button>
                                                    <button class="btn btn-success" type="button" id="btn_addauthority"><i class="icon-plus"></i> 添加权限</button>
                                                    <button class="btn btn-danger" type="button" id="btn_delselectauthority"><i class="icon-trash"></i> 删除选中</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-panel-body">
                                        <table id="auth_table" class="datagrid-table wp-100" cellspacing="0" cellpadding="0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <environment>
        <script src="~/scripts/table/jquery.dataTables.min.js"></script>
        <script src="~/scripts/table/dataTables.fixedColumns.min.js"></script>
        <script src="~/scripts/jq/jquery.splitter.js"></script>
        <script src="~/scripts/ztree/jquery.ztree.all.js"></script>
        <script src="~/scripts/ztree/jquery.ztree.exhide.js"></script>
    </environment>
    <script type="text/javascript">
        var imgPath = "";
        var changeSortUrl = '@Url.Action("ChangeAuthorityGroupSortIndex", "Sys")';
        var deleteUrl = '@Url.Action("DeleteAuthorityGroup", "Sys")';
        var bindOperationUrl='@Url.Action("AuthorityBindOperationList", "Sys",new { authCode="_acode" })';
        var loadingIcoUrl = '/Content/Scripts/ztree/img/loading.gif';
        var editAuthorityGroup = null;
        var editAuthUrl='@Html.Raw(Url.Action("EditAuthority","Sys",new { code="_id",groupSysNo="_gsysno"}))';
        var authCloseStatus=@((int)AuthorityStatus.关闭);
        var authOpenStatus=@((int)AuthorityStatus.启用);
        var seetings = {
            view: {
                nameIsHTML: true,
            },
            callback: {
                onClick: AllAuthorityGroupNodeClick,
                beforeDrag: beforeDrag,
                beforeDrop: beforeDrop,
                beforeExpand: BeforeExpand,
            },
            check: {
                enable: true,
                chkboxType: { "Y": "", "N": "" }
            },
            edit: {
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false,
                drag: {
                    isMove: true,
                    inner: false,
                    prev: true,
                    next: true
                }
            }
        };

        var allNodes = [];
        var allAuthorityGroups = {};
        var selectedNode = null;
        $(function () {
            InitData();
            //权限表格
            InitDataTable({
                TableEle:'#auth_table',
                "columnDefs": [
				        { "title": '<div class="checkbox-style cbx_all"></div>', "targets": 0,"data":function ( row, type, val, meta ) {
                            return '<div class="checkbox-style cbx_val auth_cbx_val" data-val="' + row.Code + '"></div>';
				        },width:'20px',className:'txt-center' },
    					{ "title": "名称", "targets": 1,"data":'Name',width:'200px' },
    					{ "title": "编码", "targets": 2,"data":'Code',width:'150px' },
    					{ "title": "状态", "targets": 3,"data":'Status',width:'50px',className:"txt-center",render:function(data, type, row, meta){
                            return row.StatusString;
    					}
    					},
    					{ "title": "说明", "targets": 4,"data":'Remark' },
    					{ "title": "操作", "targets": 5,"data":function(row,type,val,meta){
    					    var menuItems=new Array();
                            menuItems.push('<li><a href="javascript:void(0)" class="btn_edit dropdown-item" sysno="_sysNo" authname="_name"><i class="icon-edit"></i> 编辑</a></li>'.replace('_sysNo',row.Code).replace('_name',row.Name));
    					    if(row.Status==@((int)AuthorityStatus.启用)){
                                menuItems.push('<li class="dropdown-item"><a href="javascript:void(0)" class="btn_status_close" sysno="_sysNo" authname="_name"><i class="icon-eye-close"></i> 关闭</a></li>'.replace('_sysNo',row.Code).replace('_name',row.Name));
                            }
                            else {
                                menuItems.push('<li><a href="javascript:void(0)" class="btn_status_open dropdown-item" sysno="_sysNo" authname="_name"><i class="icon-eye-open"></i> 开启</a></li>'.replace('_sysNo',row.Code).replace('_name',row.Name));
                            }
                            menuItems.push('<li><a href="javascript:void(0)" class="btn_action_auth dropdown-item" sysno="_sysNo" authname="_name"><i class="icon-check"></i> 关联</a></li>'.replace('_sysNo',row.Code).replace('_name',row.Name));
                            menuItems.push('<li><a href="javascript:void(0)" class="btn_auth_delete dropdown-item" sysno="_sysNo" authname="_name"><i class="icon-trash"></i> 删除</a></li>'.replace('_sysNo',row.Code).replace('_name',row.Name));
    					    return '<div class="btn-group"><button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理 <span class="caret"></span></button><ul class="dropdown-menu list-dropdown-menu" style="width:62px">'+menuItems.join('')+'</ul></div>';
    					},width:'62px',className:'txt-center' },
                ]
            });

            //添加一级
            $("#btn_addlevelone").click(function () {
                 OpenDialogPage({
                    title: '添加权限分组',
                    url: '@Url.Action("EditAuthorityGroup", "Sys")',
                    width: '520px',
                    height:'400px'
                });
            });

            //上移
            $("#btn_sortup").click(function () {
                if (!selectedNode) {
                    return;
                }
                var prevNode = selectedNode.getPreNode();
                if (!prevNode) {
                    return;
                }
                MoveNode(selectedNode, prevNode, 'prev');
            });
            //下移
            $("#btn_sortdown").click(function () {
                if (!selectedNode) {
                    return;
                }
                var nextNode = selectedNode.getNextNode();
                if (!nextNode) {
                    return;
                }
                MoveNode(selectedNode, nextNode, 'next');
            });

            //删除
            $("#btn_deleteselect").click(function () {
                var checkNodes = $.fn.zTree.getZTreeObj("all_tree").getCheckedNodes(true);
                var sysNoArray = new Array();
                for (var i = 0; i < checkNodes.length; i++) {
                    sysNoArray.push(checkNodes[i].id);
                }
                DeleteAuthorityGroup(sysNoArray);
            });
            //编辑权限分组
            $("#btn_edit").click(function () {
                if (!editAuthorityGroup) {
                    return;
                }
                var editUrl = '@Url.Action("EditAuthorityGroup", "Sys",new { sysNo="_id"})'.replace('_id', editAuthorityGroup.SysNo);
                OpenDialogPage({
                    title: '编辑权限分组',
                    url: editUrl,
                    width: '520px',
                    height: '400px'
                });
            });

            //添加权限
            $("#btn_addauthority").click(function(){
                ShowEditAuthority('添加权限','');
            });
            //编辑权限
            $("body").on("click",".btn_edit",function(){
                var sysNo=$.trim($(this).attr('sysno'));
                var authName=$.trim($(this).attr('authname'));
                if(sysNo==''){
                    return;
                }
                var tit=authName==''?'编辑权限':'编辑权限【'+authName+'】';
                ShowEditAuthority(tit,sysNo)
            });
            //关闭权限
            $("body").on('click','.btn_status_close',function(){
                var sysNo=$.trim($(this).attr('sysno'));
                ModifyAuthStatus(sysNo,authCloseStatus)
            });
            //开启权限
            $("body").on('click','.btn_status_open',function(){
                var sysNo=$.trim($(this).attr('sysno'));
                ModifyAuthStatus(sysNo,authOpenStatus)
            });
            //删除权限
            $("body").on('click','.btn_auth_delete',function(){
                DeleteAuthority($(this).attr('sysno'));
            });
            //删除选中权限
            $('body').on('click','#btn_delselectauthority',function(){
                var checkedValues = GetDataTableCheckedValues("#auth_table");
                var checkedValueString = checkedValues.join(",");
                DeleteAuthority(checkedValueString);
            });
            //查看权限关联操作
            $("body").on("click",".btn_action_auth",function(){
                var sysNo=$.trim($(this).attr("sysno"));
                var authName=$.trim($(this).attr("authname"));
                ShowBindOperation(sysNo,authName);
            });
        });

        //初始化数据
        function InitData() {
            $.post('@Url.Action("GetAuthorityGroupValue", "Sys")', function (res) {
                if (!res) {
                    return;
                }
                if (res.AllGroups) {
                    allAuthorityGroups = JSON.parse(res.AllGroups);
                }
                if (res.AllNodes) {
                    allNodes = JSON.parse(res.AllNodes);
                    InitAllAuthorityGroupTree();
                }
            });
        }

        //移动节点
        function MoveNode(treeNode, targetNode, moveType) {
            if (treeNode.tId == targetNode.tId) {
                return false;
            }
            var sortIndex = 0;
            if (moveType == "inner") {
                if (targetNode.tId != treeNode.parentTId) {
                    return false;
                }
                sortIndex = 1;
            } else {
                if (treeNode.parentTId != targetNode.parentTId) {
                    return false;
                }
                var targetId = targetNode.id;
                var targetArea = allAuthorityGroups[targetId];
                if (!targetArea) {
                    return false;
                }
                sortIndex = moveType == "prev" ? targetArea.SortIndex : targetArea.SortIndex + 1;
            }
            var nowId = treeNode.id;
            $.post(changeSortUrl, { sysNo: nowId, sortIndex: sortIndex }, function (res) {
                if (res.Success) {
                }
            })
            $.fn.zTree.getZTreeObj("all_tree").moveNode(targetNode, treeNode, moveType, true);
            return false;
        }

        //拖拽之前事件
        function beforeDrag(treeId, treeNodes) {
            for (var i = 0, l = treeNodes.length; i < l; i++) {
                if (treeNodes[i].drag === false) {
                    return false;
                }
            }
            return true;
        }

        //拖拽事件
        function beforeDrop(treeId, treeNodes, targetNode, moveType) {
            if (!treeNodes || !targetNode || treeNodes.length <= 0) {
                return false;
            }
            var firstNode = treeNodes[0];
            return MoveNode(firstNode, targetNode, moveType);
        }

        //左侧权限分组节点选择
        function AllAuthorityGroupNodeClick(event, treeId, treeNode) {
            var nowAuthorityGroup = allAuthorityGroups[treeNode.id];
            if (!nowAuthorityGroup) {
                return;
            }
            editAuthorityGroup = nowAuthorityGroup;
            $('#content-for-Name').text(nowAuthorityGroup.Name);
            $('#content-for-Status').text(nowAuthorityGroup.StatusString);
            $("#role_detail").removeClass('hide');
            LoadAuthoritys();
            $(window).resize();
        }

        //初始化所有权限分组树控件
        function InitAllAuthorityGroupTree() {
            $.fn.zTree.init($("#all_tree"), seetings, allNodes);
        }

        //删除分组
        function DeleteAuthorityGroup(sysNos) {
            if (!sysNos || sysNos.length<=0) {
                ErrorMsg("没有选择要删除的权限分组信息");
                return;
            }
            ConfirmMsg('删除权限分组将删除相应的子分组及分组下的权限数据,确认删除吗?', function (res) {
                $.post(deleteUrl, { sysNos: sysNos }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        var allAuthorityGroupTree = $.fn.zTree.getZTreeObj("all_tree");
                        var checkNodes = allAuthorityGroupTree.getCheckedNodes(true);
                        for (var n in checkNodes) {
                            var nowNode = checkNodes[n];
                            allAuthorityGroupTree.removeNode(nowNode);
                            if (editAuthorityGroup && editAuthorityGroup.SysNo == nowNode.id) {
                                ResetDetailPage();
                            }
                        }
                    }
                });
            });
        }

        //展开加载数据
        function BeforeExpand(treeId, treeNode){
            if(!treeNode||treeNode.loadData){
                return true;
            }
            var zTree=$.fn.zTree.getZTreeObj(treeId);
            treeNode.icon = loadingIcoUrl;
            zTree.updateNode(treeNode);
            $.post('@Url.Action("LoadChildAuthorityGroups","Sys")',{parentId:treeNode.id},function(res){
                if(!res){
                    return;
                }
                var childNodes=JSON.parse(res.ChildNodes);
                zTree.addNodes(treeNode, -1, childNodes);
                treeNode.loadData = true;
                treeNode.icon = "";
                zTree.updateNode(treeNode);
                zTree.expandNode(treeNode,true);
                var childAuthorityGroups=JSON.parse(res.AuthorityGroupData);
                for(var c in childAuthorityGroups){
                    allAuthorityGroups[c]=childAuthorityGroups[c];
                }
            });
            return false;
        }

        //显示权限管理窗口
        function ShowDetailForm(){
            LoadAuthoritys();
            $("#detail_tabform").removeClass("hide");
            $(window).resize();
        }

        //隐藏权限管理窗口
        function HideDetailForm(){
            $("#detail_tabform").addClass("hide");
            $("#auth_tabe_page_list").html("");
        }

        //显示编辑权限
        function ShowEditAuthority(tit,authSysNo){
            if(!editAuthorityGroup){
                ErrorMsg("请先选择权限分组");
                return;
            }
            OpenDialogPage({
                url: editAuthUrl.replace('_id', authSysNo).replace('_gsysno', editAuthorityGroup.SysNo),
                width: '600px',
                height:'400px',
                title: tit
            });
        }

        //加载权限数据
        function LoadAuthoritys(){
            if(!editAuthorityGroup){
                return;
            }
            var loadUrl='@Url.Action("GetAuthoritys","Sys")';
            $.post(loadUrl,{groupSysNo:editAuthorityGroup.SysNo,key:$.trim($("#search_authname").val())},function(res){
                ReplaceDataTableData("#auth_table", JSON.parse(res.Datas));
                InitDataTableChecked("#auth_table");
                $(window).resize();
            });
        }

        //修改权限状态
        function ModifyAuthStatus(code,status){
            var tit=status==authCloseStatus?'确认关闭权限吗?':'确认开启权限吗?';
            ConfirmMsg(tit, function () {
                code=$.trim(code);
                if(code==""){
                    ErrorMsg('请指定要操作的权限数据');
                    return;
                }
                $.post('@Url.Action("ModifyAuthorityStatus","Sys")',{codes:code,status:status},function(res){
                    ResultMsg(res);
                    if(res&&res.Success){
                        LoadAuthoritys();
                    }
                });
            });
        }

        //删除权限
        function DeleteAuthority(codes){
            codes=$.trim(codes);
            if(codes==""){
                ErrorMsg('没有指定要删除的权限');
                return;
            }
            ConfirmMsg('权限删除将不能恢复,确认删除吗?', function () {
                $.post('@Url.Action("DeleteAuthority", "Sys")',{codes:codes},function(res){
                    ResultMsg(res);
                    if(res&&res.Success){
                        LoadAuthoritys();
                    }
                });
            });
        }

        //显示权限绑定的操作
        function ShowBindOperation(code,authName){
            var bindUrl=bindOperationUrl.replace('_acode',code);
            var tit='权限【'+authName+'】关联操作'
            OpenDialogPage({
                url: bindUrl,
                width: '600px',
                height:'400px',
                title: tit,
                ok: false,
                cancelVal:'关闭'
            });
        }

        //重置详情数据
        function ResetDetailPage() {
            ResetData();
            $("#role_detail").addClass("hide");
        }

        //重置数据
        function ResetData() {
            ClearDataTableData("#auth_table");
        }

    </script>
}

