
@{
    ViewData["Title"] = "修改登陆密码";
}
@using MicBeach.ViewModel.Sys.Request
@model ModifyPasswordViewModel
<div id="page-body">
    <div id="page-body-inner">
        @using (Html.AjaxBeginForm("ModifyPassword", "Sys", new AjaxFormOptions() { OnSuccess = "SuccessCallback",OnFailure= "FailedCallback", HttpMethod = "Post" }, new { id = "default-form",@class= "layui-form pdt-10" }))
        {
            <div class="form-group">
                <label class="col-form-label">当前密码</label>
                <div class="d-inline-block w-200">
                    @Html.PasswordFor(a => a.NowPassword, new { @class = "form-control w-200" })
                </div>
                <div class="d-inline-block">@Html.DefaultValidationMessageFor(c=>c.NowPassword,"", new {@class= "form-validate-msg" })</div>
            </div>
            <div class="form-group">
                <label class="col-form-label">新密码</label>
                <div class="d-inline-block w-200">
                    @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control w-200" })
                </div>
                <div class="d-inline-block">@Html.DefaultValidationMessageFor(c => c.NewPassword, "", new { @class = "form-validate-msg" })</div>
            </div>
            <div class="form-group">
                <label class="col-form-label">确认新密码</label>
                <div class="d-inline-block w-200">
                    @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "form-control w-200" })
                </div>
                <div class="d-inline-block">@Html.DefaultValidationMessageFor(c => c.ConfirmNewPassword, "", new { @class = "form-validate-msg" })</div>
            </div>
        }
    </div>
</div>
@section Scripts{
    
    <script type="text/javascript">
        $(function () {
            BindEnterEvent(SubmitForm);
        });

        function SubmitForm() {
            $("#default-form").submit();
        }
        function ArtEvent() {
            SubmitForm();
            return false;
        }
    </script>

}

